---
import Layout from '../../layouts/Layout.astro';
---

<Layout title="Yo y lo que hago - jmfernxndez" description="Desarrollador web con experiencia en la creación de sitios web centrados en el usuario, seguros y optimizados, priorizando tanto el rendimiento como la seguridad.">
    <main>
        <div class="container">
            <div class="row d-flex align-items-center">
                <div class="col-lg-6">
                    <span>Todo sobre mí</span>
                    <h1>Desarrollador web Full-Stack</h1>
                    <p>Soy un desarrollador web, con experiencia en la creación de páginas web que se adaptan al usuario final, no solo enfocado en la optimización, sino también en la seguridad web.</p>
                    <p>Trabajo de manera cercana y profesional, colaborando con los clientes para identificar las mejores estrategias y herramientas tecnológicas para cada proyecto.</p>
                </div>
                <div class="col-lg-6">
                    <img src="/jose.jpeg" alt="Yo" width="50%">
                </div>
            </div>

            <div class="thisrow">
                <div class="row mt-5">
                    <div class="col-12 text-center">
                        <h2>Soluciones y habilidades</h2>
                    </div>
                    <div class="col-12">
                        <div class="bloque">
                            <div>
                                <h2>Desarrollo web</h2>
                            </div>
                            <div>
                                <p>Creación de sitios web personalizados utilizando PHP, WordPress, Astro, Angular, React... En resumen, no me cierro a nuevas tecnologías y sigo aprendiendo.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="bloque">
                            <div>
                                <h2>Comercio electrónico</h2>
                            </div>
                            <div>
                                <p>Creación de sitios web personalizados utilizando PHP, WordPress, Astro, Angular, React... En resumen, no me cierro a nuevas tecnologías y sigo aprendiendo.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="bloque">
                            <div>
                                <h2>Optimización y seguridad</h2>
                            </div>
                            <div>
                                <p>Creación de sitios web personalizados utilizando PHP, WordPress, Astro, Angular, React... En resumen, no me cierro a nuevas tecnologías y sigo aprendiendo.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="bloque">
                            <div>
                                <h2>Integración de herramientas</h2>
                            </div>
                            <div>
                                <p>Creación de sitios web personalizados utilizando PHP, WordPress, Astro, Angular, React... En resumen, no me cierro a nuevas tecnologías y sigo aprendiendo.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="bloque">
                            <div>
                                <h2>Mantenimiento</h2>
                            </div>
                            <div>
                                <p>Creación de sitios web personalizados utilizando PHP, WordPress, Astro, Angular, React... En resumen, no me cierro a nuevas tecnologías y sigo aprendiendo.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        
            <div class="row mt-5">
                <div class="col-12 text-lg-center">
                    <h2>Experiencia profesional</h2>
                </div>
    
                <div class="experiencia mt-5">
                    <div class="row">
                        <div class="col-1">
                            <i class="fa-solid fa-code"></i>
                        </div>
                        <div class="col-11">
                            <h2>Desarrollador Full-Stack @ espartadigital.com</h2>
                            <span>Marzo 2024 - Actualidad - Remoto</span>
                            <ul>
                                <li>Desarrollo y mantenimiento de sitios web personalizados en PHP y WordPress.</li>
                                <li>Gestión de servidores y entornos de desarrollo en Plesk y Ubuntu.</li>
                                <li>Creación de tiendas de comercio electrónico con Liquid para Shopify, personalización avanzada de temas y funcionalidades.</li>
                                <li>Implementación de tiendas en línea con WooCommerce y Shopify, integración de pasarelas de pago y optimización de conversión.</li>
                                <li>Optimización de sitios web para mejorar la velocidad de carga, seguridad y SEO.</li>
                            </ul>
                        </div>
                    </div>
    
                    <div class="row">
                        <div class="col-1">
                            <i class="fa-solid fa-code"></i>
                        </div>
                        <div class="col-11">
                            <h2>Fundador y desarrollador @ vantag.es</h2>
                            <span>Febrero 2024 - Presente - Remoto</span>
                            <ul>
                                <li>Desarrollos y proyectos de código abierto dentro de él</li>
                            </ul>
                        </div>
                    </div>
    
                    <div class="row">
                        <div class="col-1">
                            <i class="fa-solid fa-code"></i>
                        </div>
                        <div class="col-11">
                            <h2>Desarrollador Full-Stack @ increnta.com</h2>
                            <span>Septiembre 2022 - Febrero 2024 - Remoto</span>
                            <ul>
                                <li>Desarrollo y mantenimiento de sitios web en PHP, WordPress, WooCommerce y Angular.</li>
                                <li>Creación de APIs REST para integración de servicios.</li>
                            </ul>
                        </div>
                    </div>
    
                    <div class="row">
                        <div class="col-1">
                            <i class="fa-solid fa-server"></i>
                        </div>
                        <div class="col-11">
                            <h2>Técnico de TI @ grupolapole.com</h2>
                            <span>Abril 2022 - Junio 2022 - Presencial</span>
                            <ul>
                                <li>Configuración y mantenimiento de redes corporativas (LAN/WAN).</li>
                                <li>Administración de sistemas Windows/Linux/Android y gestión de copias de seguridad.</li>
                                <li>Soporte técnico directo a los trabajadores del servicio de asistencia</li>
                            </ul>
                        </div>
                    </div>
    
                    <div class="row">
                        <div class="col-1">
                            <i class="fa-solid fa-microchip"></i>
                        </div>
                        <div class="col-11">
                            <h2>Técnico de electrónica @ anovo.com</h2>
                            <span>Octubre 2020 - Abril 2022 - Presencial</span>
                            <ul>
                                <li>Reparación y mantenimiento de sistemas electrónicos.</li>
                                <li>Diagnóstico y solución de problemas en equipos electrónicos y de telecomunicaciones.</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row mt-5 mb-5">
                <div class="col-12">
                    <h2 class="text-center">No dudes en contactarme</h2>
                    <a target="_blank" rel="noopener noreferrer" href="/contact" class="btn"><i class="fa-solid fa-envelope"></i> Contacto</a>
                    <a target="_blank" rel="noopener noreferrer" href="https://www.linkedin.com/in/jmfernandezalvarez/" class="btn"><i class="fa-brands fa-linkedin"></i> LinkedIn</a>
                    <a target="_blank" rel="noopener noreferrer" href="https://github.com/jmfernxndez?tab=repositories" class="btn"><i class="fa-brands fa-github"></i> Repositorios</a>
                    <a target="_blank" rel="noopener noreferrer" href="https://codepen.io/jmfernxndez" class="btn"><i class="fa-brands fa-codepen"></i> Proyectos de frontend</a>
                </div>
            </div>
        </div>
    </main>
</Layout>

<style>
    main {
        margin-top: 150px;
    }

    img {
        border-radius: 9px;
    }

    .bloque {
        padding: 15px 25px;
        border: 1px solid #656dfe;
        margin: 15px;
        background-color: #58555550;
		backdrop-filter: blur(10px);
        cursor: pointer;
        border-radius: 9px;
    }

    .bloque:hover {
        background-color: #22222250;
    }

    .thisrow .row>* {
        padding-right: 0 !important;
        padding-left: 0 !important;
    }
    i {
        font-size: 1.5rem;
        color: #656dfe;
    }

    h1 {
        color: #656dfe;
        text-decoration: underline 1px;
    }

    span {
        text-decoration: underline 1px;
    }

    ul {
        list-style: none;
        padding: 0;
    }

    .experiencia .row {
        border-left: 1px solid #656dfe;
        padding-top: 20px;
    }

    .foto {
		width: 250px;
		border-radius: 50%;
		height: 250px;
		object-fit: cover;
	}

    .btn i {
		color: #fff;
	}

	.btn {
		margin: 15px 0;
		padding: 10px;
		width: 100%;
		border: 1px solid #EAEAEA;
		font-weight: 500;
		border-radius: 8px;
		box-shadow: 0px 7px 0px -2px #EAEAEA;
		transition: all 0.3 sease-in-out;
		color: #EAEAEA;
		text-transform: uppercase;
	}

	.btn:hover {
		box-shadow: none;
	}
</style>