---
import Layout from '../../layouts/Layout.astro';
---

<Layout title="Moi et ce que je fais - jmfernxndez" description="Développeur web expérimenté dans la création de sites web centrés sur l'utilisateur, sécurisés et optimisés, priorisant à la fois la performance et la sécurité.">
    <main>
        <div class="container">
            <div class="row d-flex align-items-center">
                <div class="col-lg-6">
                    <span>Tout sur moi</span>
                    <h1>Développeur web Full-Stack</h1>
                    <p>Je suis un développeur web, avec de l'expérience dans la création de pages web qui s'adaptent à l'utilisateur final, non seulement axées sur l'optimisation, mais aussi sur la sécurité web.</p>
                    <p>Je travaille de manière étroite et professionnelle, en collaborant avec les clients pour identifier les meilleures stratégies et outils technologiques pour chaque projet.</p>
                </div>
                <div class="col-lg-6">
                    <img src="/jose.jpeg" alt="Moi" width="50%">
                </div>
            </div>

            <div class="thisrow">
                <div class="row mt-5">
                    <div class="col-12 text-center">
                        <h2>Solutions & compétences</h2>
                    </div>
                    <div class="col-12">
                        <div class="bloque">
                            <div>
                                <h2>Développement web</h2>
                            </div>
                            <div>
                                <p>Création de sites web personnalisés utilisant PHP, WordPress, Astro, Angular, React... En bref, je ne suis pas fermé aux nouvelles technologies et continue d'apprendre.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="bloque">
                            <div>
                                <h2>E-Commerce</h2>
                            </div>
                            <div>
                                <p>Création de sites web personnalisés utilisant PHP, WordPress, Astro, Angular, React... En bref, je ne suis pas fermé aux nouvelles technologies et continue d'apprendre.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="bloque">
                            <div>
                                <h2>Optimisation & sécurité</h2>
                            </div>
                            <div>
                                <p>Création de sites web personnalisés utilisant PHP, WordPress, Astro, Angular, React... En bref, je ne suis pas fermé aux nouvelles technologies et continue d'apprendre.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="bloque">
                            <div>
                                <h2>Intégration d'outils</h2>
                            </div>
                            <div>
                                <p>Création de sites web personnalisés utilisant PHP, WordPress, Astro, Angular, React... En bref, je ne suis pas fermé aux nouvelles technologies et continue d'apprendre.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="bloque">
                            <div>
                                <h2>Maintenance</h2>
                            </div>
                            <div>
                                <p>Création de sites web personnalisés utilisant PHP, WordPress, Astro, Angular, React... En bref, je ne suis pas fermé aux nouvelles technologies et continue d'apprendre.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        
            <div class="row mt-5">
                <div class="col-12 text-lg-center">
                    <h2>Expérience professionnelle</h2>
                </div>
    
                <div class="experiencia mt-5">
                    <div class="row">
                        <div class="col-1">
                            <i class="fa-solid fa-code"></i>
                        </div>
                        <div class="col-11">
                            <h2>Développeur Full-Stack @ espartadigital.com</h2>
                            <span>Mars 2024 - Actuellement - À distance</span>
                            <ul>
                                <li>Développement et maintenance de sites web personnalisés en PHP et WordPress.</li>
                                <li>Gestion des serveurs et des environnements de développement dans Plesk et Ubuntu.</li>
                                <li>Création de boutiques e-commerce avec Liquid pour Shopify, personnalisation avancée des thèmes et fonctionnalités.</li>
                                <li>Implémentation de boutiques en ligne avec WooCommerce et Shopify, intégration de passerelles de paiement et optimisation de la conversion.</li>
                                <li>Optimisation des sites web pour améliorer la vitesse de chargement, la sécurité et le SEO.</li>
                            </ul>
                        </div>
                    </div>
    
                    <div class="row">
                        <div class="col-1">
                            <i class="fa-solid fa-code"></i>
                        </div>
                        <div class="col-11">
                            <h2>Fondateur & développeur @ vantag.es</h2>
                            <span>Février 2024 - Actuellement - À distance</span>
                            <ul>
                                <li>Développements et projets open source au sein de celui-ci</li>
                            </ul>
                        </div>
                    </div>
    
                    <div class="row">
                        <div class="col-1">
                            <i class="fa-solid fa-code"></i>
                        </div>
                        <div class="col-11">
                            <h2>Développeur Full-Stack @ increnta.com</h2>
                            <span>Septembre 2022 - Février 2024 - À distance</span>
                            <ul>
                                <li>Développement et maintenance de sites web en PHP, WordPress, WooCommerce et Angular.</li>
                                <li>Création d'API REST pour l'intégration de services.</li>
                            </ul>
                        </div>
                    </div>
    
                    <div class="row">
                        <div class="col-1">
                            <i class="fa-solid fa-server"></i>
                        </div>
                        <div class="col-11">
                            <h2>Technicien informatique @ grupolapole.com</h2>
                            <span>Avril 2022 - Juin 2022 - Sur site</span>
                            <ul>
                                <li>Configuration et maintenance des réseaux d'entreprise (LAN/WAN).</li>
                                <li>Administration des systèmes Windows/Linux/Android et gestion des sauvegardes.</li>
                                <li>Support technique direct aux employés du helpdesk</li>
                            </ul>
                        </div>
                    </div>
    
                    <div class="row">
                        <div class="col-1">
                            <i class="fa-solid fa-microchip"></i>
                        </div>
                        <div class="col-11">
                            <h2>Technicien en électronique @ anovo.com</h2>
                            <span>Octobre 2020 - Avril 2022 - Sur site</span>
                            <ul>
                                <li>Réparation et maintenance des systèmes électroniques.</li>
                                <li>Diagnostic et dépannage des équipements électroniques et de télécommunications.</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row mt-5 mb-5">
                <div class="col-12">
                    <h2 class="text-center">N'hésitez pas à me contacter</h2>
                    <a target="_blank" rel="noopener noreferrer" href="/contact" class="btn"><i class="fa-solid fa-envelope"></i> Contact</a>
                    <a target="_blank" rel="noopener noreferrer" href="https://www.linkedin.com/in/jmfernandezalvarez/" class="btn"><i class="fa-brands fa-linkedin"></i> LinkedIn</a>
                    <a target="_blank" rel="noopener noreferrer" href="https://github.com/jmfernxndez?tab=repositories" class="btn"><i class="fa-brands fa-github"></i> Répertoires</a>
                    <a target="_blank" rel="noopener noreferrer" href="https://codepen.io/jmfernxndez" class="btn"><i class="fa-brands fa-codepen"></i> Projets frontend</a>
                </div>
            </div>
        </div>
    </main>
</Layout>

<style>
    main {
        margin-top: 150px;
    }

    img {
        border-radius: 9px;
    }

    .bloque {
        padding: 15px 25px;
        border: 1px solid #656dfe;
        margin: 15px;
        background-color: #58555550;
		backdrop-filter: blur(10px);
        cursor: pointer;
        border-radius: 9px;
    }

    .bloque:hover {
        background-color: #22222250;
    }

    .thisrow .row>* {
        padding-right: 0 !important;
        padding-left: 0 !important;
    }
    i {
        font-size: 1.5rem;
        color: #656dfe;
    }

    h1 {
        color: #656dfe;
        text-decoration: underline 1px;
    }

    span {
        text-decoration: underline 1px;
    }

    ul {
        list-style: none;
        padding: 0;
    }

    .experiencia .row {
        border-left: 1px solid #656dfe;
        padding-top: 20px;
    }

    .foto {
		width: 250px;
		border-radius: 50%;
		height: 250px;
		object-fit: cover;
	}

    .btn i {
		color: #fff;
	}

	.btn {
		margin: 15px 0;
		padding: 10px;
		width: 100%;
		border: 1px solid #EAEAEA;
		font-weight: 500;
		border-radius: 8px;
		box-shadow: 0px 7px 0px -2px #EAEAEA;
		transition: all 0.3 sease-in-out;
		color: #EAEAEA;
		text-transform: uppercase;
	}

	.btn:hover {
		box-shadow: none;
	}
</style>