---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Me and what i do - jmfernxndez" description="Web developer experienced in creating user-focused, secure, and optimized websites that prioritize both performance and safety.">
    <main>
        <div class="container">
            <div class="row d-flex align-items-center">
                <div class="col-lg-6">
                    <span>All about me</span>
                    <h1>Full-Stack web developer</h1>
                    <p>I am a web developer, with experience in creating web pages that adapt to the end user, not only focused on optimisation, but also on web security.</p>
                    <p>I work closely and professionally, collaborating with clients to identify the best strategies and technological tools for each project.</p>
                </div>
                <div class="col-lg-6">
                    <img src="/jose.jpeg" alt="Me" width="50%">
                </div>
            </div>

            <div class="thisrow">
                <div class="row mt-5">
                    <div class="col-12 text-center">
                        <h2>Solutions & skills</h2>
                    </div>
                    <div class="col-12">
                        <div class="bloque">
                            <div>
                                <h2>Web development</h2>
                            </div>
                            <div>
                                <p>Creation of custom websites using PHP, WordPress, Astro, Angular, React... In short, I'm not closed to new technologies and keep learning.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="bloque">
                            <div>
                                <h2>E-Commerce</h2>
                            </div>
                            <div>
                                <p>Creation of custom websites using PHP, WordPress, Astro, Angular, React... In short, I'm not closed to new technologies and keep learning.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="bloque">
                            <div>
                                <h2>Optimisation & Security</h2>
                            </div>
                            <div>
                                <p>Creation of custom websites using PHP, WordPress, Astro, Angular, React... In short, I'm not closed to new technologies and keep learning.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="bloque">
                            <div>
                                <h2>Tool Integration</h2>
                            </div>
                            <div>
                                <p>Creation of custom websites using PHP, WordPress, Astro, Angular, React... In short, I'm not closed to new technologies and keep learning.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="bloque">
                            <div>
                                <h2>Maintenance</h2>
                            </div>
                            <div>
                                <p>Creation of custom websites using PHP, WordPress, Astro, Angular, React... In short, I'm not closed to new technologies and keep learning.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</Layout>

<style>
    main {
        margin-top: 150px;
    }

    img {
        border-radius: 9px;
    }

    .bloque {
        padding: 15px 25px;
        border: 1px solid #656dfe;
        margin: 15px;
        background-color: #58555550;
		backdrop-filter: blur(10px);
        cursor: pointer;
        border-radius: 9px;
    }

    .bloque:hover {
        background-color: #22222250;
    }

    .thisrow .row>* {
        padding-right: 0 !important;
        padding-left: 0 !important;
    }
</style>