---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Industry experience - jmfernxndez" description="Web developer experienced in creating user-focused, secure, and optimized websites that prioritize both performance and safety.">
    <main>
        <div class="container">
            <div class="row">
                <div class="col-12 text-lg-center">
                    <h1>Professional experience</h1>
                </div>

                <div class="experiencia mt-5">
                    <div class="row">
                        <div class="col-1">
                            <i class="fa-solid fa-code"></i>
                        </div>
                        <div class="col-11">
                            <h2>Full-Stack developer @ espartadigital.com</h2>
                            <span>March 2024 - Actuality - Remote</span>
                            <ul>
                                <li>Development and maintenance of custom websites in PHP and WordPress.</li>
                                <li>Management of servers and development environments in Plesk and Ubuntu.</li>
                                <li>Creation of E-Commerce shops with Liquid for Shopify, advanced customization of themes and functionalities.</li>
                                <li>Implementation of online shops with WooCommerce and Shopify, payment gateway integration and conversion optimisation.</li>
                                <li>Website optimization to improve loading speed, security and SEO.</li>
                            </ul>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-1">
                            <i class="fa-solid fa-code"></i>
                        </div>
                        <div class="col-11">
                            <h2>Founder & developer @ vantag.es</h2>
                            <span>February 2024 - Present - Remote</span>
                            <ul>
                                <li>Open source developments and projects within it</li>
                            </ul>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-1">
                            <i class="fa-solid fa-code"></i>
                        </div>
                        <div class="col-11">
                            <h2>Full-Stack developer @ increnta.com</h2>
                            <span>September 2022 - February 2024 - Remote</span>
                            <ul>
                                <li>Development and maintenance of websites in PHP, WordPress, WooCommerce and Angular.</li>
                                <li>Creation of REST APIs for service integration.</li>
                            </ul>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-1">
                            <i class="fa-solid fa-server"></i>
                        </div>
                        <div class="col-11">
                            <h2>IT Technician @ grupolapole.com</h2>
                            <span>April 2022 - June 2022 - Classroom based</span>
                            <ul>
                                <li>Configuration and maintenance of corporate networks (LAN/WAN).</li>
                                <li>Administration of Windows/Linux/Android systems and backup management.</li>
                                <li>Direct technical support to help desk workers</li>
                            </ul>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-1">
                            <i class="fa-solid fa-microchip"></i>
                        </div>
                        <div class="col-11">
                            <h2>Electronics technician @ anovo.es</h2>
                            <span>October 2020 - April 2022 - Classroom-based</span>
                            <ul>
                                <li>Repair and maintenance of electronic systems.</li>
                                <li>Diagnosis and troubleshooting of electronic and telecommunications equipment.</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</Layout>

<style>
    main {
        margin-top: 150px;
    }

    i {
        font-size: 1.5rem;
        color: #656dfe;
    }

    h1 {
        color: #656dfe;
        text-decoration: underline 1px;
    }

    h2 {
        text-transform: uppercase;
    }

    span {
        text-decoration: underline 1px;
    }

    ul {
        list-style: none;
        padding: 0;
    }

    .experiencia .row {
        border-left: 1px solid #656dfe;
        padding-top: 20px;
    }

</style>