<footer class="mt-5">
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <h3>VANTAG.es projects</h3>
        <ul>
          <li>
            <a href="https://vantag.es/" target="_blank">VANTAG.es</a>
          </li>
          <li>
            <a href="https://legalzone.es/" target="_blank">LegalZone</a>
          </li>
          <li>
            <a
              href="https://github.com/orgs/vantagdotes/repositories"
              target="_blank"
              rel="noopener noreferrer">Open Source</a
            >
          </li>
        </ul>
      </div>
      <div class="col-lg-4">
        <h3>Other projects</h3>
        <ul>
          <li>
            <a
              href="https://chromewebstore.google.com/detail/web-vitals/illmkcoedmdanbkoihjpipllkaoakccm"
              target="_blank"
              rel="noopener noreferrer">Web Vitals</a
            >
          </li>
          <li>
            <a
              href="https://chromewebstore.google.com/detail/webtracker/npjlldagpoffopoebglliclamgemddgh"
              target="_blank"
              rel="noopener noreferrer">Web Tracker</a
            >
          </li>
          <li>
            <a href="https://segurosfeli.com/" target="_blank"
              >Seguros Feli | Seguros Online</a
            >
          </li>
        </ul>
      </div>
      <div class="col-lg-4">
        <h3>Useful links</h3>
        <ul>
          <li>
            <a href="/legal-notice/">Legal notice</a>
          </li>
          <li>
            <a href="/cookie-policy/">Cookie policy</a>
          </li>
          <li>
            <a href="/privacy-policy/">Privacy policy</a>
          </li>
          <li>
            <a href="/license/">License</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>

<style>
  footer {
    background-color: #444444;
    padding: 50px 0;
    color: #f4f4f4;
  }

  ul {
    list-style: none;
    padding: 0;
  }

  a {
    color: #f4f4f4;
    text-decoration: none;
  }
</style>
