---

---

<main>
	<div id="bloque-enlace" class="mt-5">
		<div>
			<div class="container">
				<div class="row">
					<div class="col-12 d-flex justify-content-center">
						<img class="foto" src="jose.jpeg" alt="foto de perfil">
					</div>
				</div>
			</div>
		</div>

		<div id="link" class="mt-5">
			<div>
				<div class="container">
					<div class="row">
						<div class="col-12">
							<a target="_blank" rel="noopener noreferrer" href="https://www.linkedin.com/in/jmfernandezalvarez/" class="btn"><i class="fa-brands fa-linkedin"></i> LinkedIn</a>
							<a target="_blank" rel="noopener noreferrer" href="https://github.com/jmfernxndez" class="btn"><i class="fa-brands fa-github"></i> Github</a>
							<a href="mailto:soy@jmfernandez.dev" class="btn"><i class="fa-solid fa-envelope"></i> Contacto</a>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div id="copy" class="m-lg-3">
			<div>
				<div class="container">
					<div class="row">
						<div class="col-12 text-center">
							<p>made with ♡ <span class="firma">jmfernandez.</span></p>
							<p style="font-size: 12px;">Open source projects are available under the GNU General Public License (GPL) and other applicable free software licenses. These projects may be used, modified and distributed in accordance with the terms of their respective licenses.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</main>

<style>
	@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');

	.firma {
		font-family: "Shadows Into Light", serif;
		font-weight: 400;
		font-style: normal;
		margin-left: 5px;
	}

	.foto {
		width: 250px;
		border-radius: 50%;
		height: 250px;
		object-fit: cover;
	}

	.btn {
		margin: 15px 0;
		padding: 10px;
		width: 100%;
		border: 1px solid #EAEAEA;
		font-weight: 500;
		border-radius: 8px;
		box-shadow: 0px 7px 0px -2px #EAEAEA;
		transition: all 0.3 sease-in-out;
		color: #EAEAEA;
		text-transform: uppercase;
	}

	.btn:hover {
		box-shadow: none;
	}

</style>