---

---

<main id="contenido">
	<div id="bloque-enlace">
		<div>
			<div class="container">
				<div class="row">
					<div class="col-12 text-center">
						<img class="foto" src="jose.jpeg" alt="foto de perfil">
						<h1 class="mt-3">Full Stack Developer | jmfernxndez</h1>
					</div>
				</div>
			</div>
		</div>

		<div id="link" class="mt-3">
			<div>
				<div class="container">
					<div class="row">
						<div class="col-12">
							<a target="_blank" rel="noopener noreferrer" href="https://www.linkedin.com/in/jmfernandezalvarez/" class="btn"><i class="fa-brands fa-linkedin"></i> LinkedIn</a>
							<a target="_blank" rel="noopener noreferrer" href="https://github.com/jmfernxndez?tab=repositories" class="btn"><i class="fa-brands fa-github"></i> Repositories</a>
							<a target="_blank" rel="noopener noreferrer" href="https://codepen.io/jmfernxndez" class="btn"><i class="fa-brands fa-codepen"></i> Frontend Projects</a>

							<h3 class="text-center mt-3">Google</h3>
							<a target="_blank" rel="noopener noreferrer" href="https://support.google.com/profile/353517623" class="btn"><i class="fa-brands fa-google"></i> Product Expert</a>
							<a target="_blank" rel="noopener noreferrer" href="https://support.google.com/profile/352526495" class="btn"><i class="fa-brands fa-google"></i> PE / Esparta digital</a>
							<a target="_blank" rel="noopener noreferrer" href="https://g.dev/jmfernxndez" class="btn"><i class="fa-brands fa-google"></i> for Developers</a>

							<h3 class="text-center mt-5">Chrome Extensions</h3>
							<a target="_blank" rel="noopener noreferrer" href="https://chromewebstore.google.com/detail/web-vitals/illmkcoedmdanbkoihjpipllkaoakccm" class="btn"><i class="fa-brands fa-chrome"></i> Web Vitals Extension</a>
							<a target="_blank" rel="noopener noreferrer" href="https://chromewebstore.google.com/detail/webtracker/npjlldagpoffopoebglliclamgemddgh" class="btn"><i class="fa-brands fa-chrome"></i> Webtracker Extension</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</main>

<style>
	main {
		padding-top: 150px !important;
	}

	.foto {
		width: 250px;
		border-radius: 9px;
		height: 250px;
		object-fit: cover;
	}

	.btn {
		margin: 15px 0;
		padding: 10px;
		width: 100%;
		border: 1px solid #EAEAEA;
		font-weight: 500;
		border-radius: 8px;
		box-shadow: 0px 7px 0px -2px #EAEAEA;
		transition: all 0.3 sease-in-out;
		color: #EAEAEA;
		text-transform: uppercase;
	}

	.btn:hover {
		box-shadow: none;
	}

</style>